/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ph_title {
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.hw_title {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif; /* Specify font-family for hw_title */
}

.hw_title:hover {
    color: #ff6347;
    text-decoration: none;
}
